<!--Vista para consultar las edificios-->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><center>Consultar edificios</center></strong>
    </div>
    <div class="panel-body">
      <div style="height: {{gridHeight}}px;" ui-grid="consultarEdificio.gridOptions1"  align="center" ui-grid-auto-resize></div>
    </div>
    <div class="panel-footer">
      Los edificios que se han registrado se visualizan en esta tabla.
    </div>
  </div>
<div>

  <!-- Modal -->
  <div class="modal fade" id="editarEdificio" tabindex="-1" role="dialog" aria-labelledby="editarEdificioTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>

      <div class="modal-body">
          <div class="panel panel-default">
              <div class="panel-heading"><h3>Editar información del edificio</h3></div>
              <div class="panel-body">
                <!--Formulario de edición de edificio-->
                <form name="formactualizaredificio" ng-submit="formactualizaredificio.$valid">
                  <!--Campo de edición de nombre-->
                  <fieldset class="form-group">
                    <label for="nombreEdificio">Nombre:</label>
                    <input type="text" style="text-transform:uppercase" class="form-control" id="Nombre" maxlength="130" required>
                  </fieldset>
                  <!--Campo de edición de código-->
                  <fieldset class="form-group">
                    <label for="codigoEdificio">Código:</label>
                    <input type="text" style="text-transform:uppercase" class="form-control" id="Codigo" maxlength="30" required>
                  </fieldset>
                  <!--Campo de edición de estado -->
                  <fieldset class="form-group">
                    <label for="estadoEdificio">Estado:</label>
                    <input type="text" readonly class="form-control" id="Estado" maxlength="70" required>
                  </fieldset>
                 <!--Boton para enviar datos al formulario-->
                   <button type="submit" class="btn btn-outline btn-primary" ng-click="consultarEdificio.actualizar()">Guardar cambios</button>
                </form>
              </div>
          </div>
    </div>
  </div>
  </div>
  </div>
