<div class="panel panel-primary panel-body">
  <!--Cabecera del panel-->
  <h2 class="page-header text-center">Dependencia</h2>
  <!--Panel de registro-->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Registrar Dependencia</h3>
      </div>
      <div class="panel-body">
        <!--Formulario de registro-->
        <form name="formdependencia" ng-submit="formdependencia.$valid && crearDependencia.crear_dependencia(formdependencia)">
          <!--ComboBox para seleccionar el tipo de dependencia-->
              <label>Tipo Dependencia:</label>
              <select class="form-control" ng-model="crearDependencia.relacion_dependencia.TipoDependenciaId" ng-options="option.Nombre for option in crearDependencia.tipo_dependencia" required>
                      <option value="">--Elija el tipo de dependencia que va a crear--</option>
              </select><br>

          <!--Campo de registro de nombre-->
          <fieldset class="form-group">
            <label for="nombreDependencia">Nombre:</label>
            <input type="text" style="text-transform:uppercase" class="form-control" id="nombreDependencia" placeholder="Ingresa el nombre de la dependencia" ng-model="crearDependencia.nueva_dependencia.Nombre" maxlength="130" required>
          </fieldset>
          <!--Campo de registro de télefono-->
          <fieldset class="form-group">
            <label for="telefonoDependencia">Télefono:</label>
            <input type="text" style="text-transform:uppercase" class="form-control" id="telefonoDependencia" placeholder="Ingresa el télefono correspondiente a la dependencia" ng-model="crearDependencia.nueva_dependencia.TelefonoDependencia" maxlength="500" required>
          </fieldset>
          <!--Campo de registro de correo electrónico -->
          <fieldset class="form-group">
            <label for="correoDependencia">Correo electrónico:</label>
            <input type="email" class="form-control" id="correoDependencia" placeholder="INGRESA EL CORREO ELECTRONICO DE LA DEPENDENCIA" ng-model="crearDependencia.nueva_dependencia.CorreoElectronico" maxlength="70" required>
          </fieldset>
         <!--Boton para enviar datos al formulario-->
          <button type="submit" class="btn btn-outline btn-primary" >Confirmar</button>
        </form>

      </div>
    </div>
  </div>

  <!--Panel para elegir la dependencia padre-->
  <div class="col-md-6">
    <div class="panel panel-default">
      <!--Cabecera del panel de selección-->
      <div class="panel-heading">
        <h3 class="panel-title">Elija la dependencia padre</h3>
      </div>
      <div class="panel-body">
          <p>Por favor seleccione el padre de la dependencia.</p>
          <div class="panel-body">
            <button type="submit" ng-click="crearDependencia.visualizar_dependencias()" class="btn btn-outline btn-success">Ver árbol de dependencias</button><br>
            <br>
            <!--Pinta las dependencias según el organigrama de la Universidad Distrital-->
              <!--Seleccionar menús relacionados con la aplicación-->
                       <treecontrol class="tree-classic"
                           tree-model="dataForTheTree"
                           options="treeOptions"
                           on-selection="showSelected(node)"
                           selected-node="dependencia_padre"
                           >
                           Dependencia: {{node.Nombre}}
                      </treecontrol>

          </div>
      </div>
  </div>
  </div>
