<div class="jumbotron">

  <div class="panel panel-success panel-body">
    <!--Titulo-->
    <h1 class="panel-title page-header text-center">Registrar dependencia</h1><br><br>
    <div class="container">
      <form class="form-horizontal" name="crearDependencia" novalidate>

        <!--Campo para el nombre del dependencia-->
        <div class="col-md-12 row line">
          <div class="col-sm-2">
            <label><h5><strong>Nombre:</strong><h5></label>
          </div>
          <div class="col-sm-10">
            <input class="form-control" ng-model="dependencia.nombre" placeholder="Ingrese el nombre de la dependencia" required>
            </input>
          </div>
        </div>

        <!--Campo para el código del dependencia-->
        <div class="col-md-12 row line">
          <div class="col-sm-2">
            <label><h5><strong>Télefono:</strong><h5></label>
          </div>
          <div class="col-sm-10">
            <input  class="form-control" ng-model="dependencia.telefono" placeholder="Ingrese el télefono de la dependencia" required>
          </input>
          </div>
        </div>

        <!--Campo que permite seleccionar el estado de un dependencia-->
          <div class="col-md-12 row line">
          <div class="col-sm-2">
            <label><h5><strong>Correo:</strong><h5></label>
            </div>
            <div class="col-sm-10">
                <input  class="form-control" ng-model="dependencia.correo" placeholder="Ingrese el correo electrónico de la dependencia" required>
            </div>
          </div>

        <br>
        <div class="col-md-12 text-center row line">
          <div class="col-sm-6">
            <input type="submit" class="btn btn-lg btn-primary" value="Confirmar" ng-click="confirmar()">
          </div>
          <div class="col-sm-6">
            <button class="btn btn-lg btn-danger" type="reset" ng-click="reset(crearApp)">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
