<br>
<div class="panel panel-default">
    <div class="panel-heading">
         Sistema de Gestión de Espacios Físicos (OIKOS)
    </div>
    <div class="panel-body">
        <h1>
          Bienvenidos a OIKOS
        </h1>
        <p>
          En este aplicativo podrás encontrar módulos correspondientes a:
          <ul>
              <li><strong>Sede: </strong> En este módulo se puede registar una sede asociandole sus edificios relacionados si se desea, además se pueden consultar las sedes donde puedes editarlas, activarlas o inactivarlas y gestionar los edificios. </li>
              <li><strong>Edificio: </strong> En este módulo se puede registar un edificio asociandole la sede a la que pertenece si se desea, además se pueden consultar los edificios donde puedes editarlas y activarlas o inactivarlas.</li>
              <li><strong>Espacio físico: </strong>En este módulo se puede registar un espacio físico indicandole todas sus caracteristicas y asociandolo a un edificio si se desea, además se pueden consultar los espacios físicos donde puedes editarlas y activarlas o inactivarlos.</li>
              <li><strong>Dependencia: </strong>En este módulo se puede registar una dependencia indicando el padre al que pertenece, además se pueden consultar las dependencias filtrando por tipos de dependencia donde puedes editarlas.</li>
              <li><strong>Gestionar tipos: </strong>En este módulo se pueden registar los parámetros tales como tipo de dependencia y tipo de espacio físico, además se pueden consultar y editarlos.</li>
          </ul>
        </p>
        <div align="center"><img src="images/gestion.png" heigth="150px" width="150px" align="middle"></div>
    </div>
    <div class="panel-footer">
        
    </div>
</div>